
// $primary-font-size: 1.6rem;

// backgraound colors 
$light-bg-color: #fff;
$dark-bg-color: #171717;
$box-dark-bg: rgb(22, 24, 28);
$body-dark-bg: rgb(0, 0, 0);

// button colors
$btn-bg-color: rgb(29, 155, 240);
$btn-bg-hover: rgb(26, 140, 216);
$btn-opacity-hover: rgba(255, 255, 255, 0.03);
$icon-btn-hover: rgba(55, 133, 190, 0.1);

// text colors
$text-lightes-color: #fff;
$light-text-color: #d8d3d3;
$text-light-color: #bebcbcab;
$text-dark-color: #0c0c0c;

// icon color 
$primary-icon-color: #3785BE;